*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:cursive;
    user-select: none;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100%;
    background: linear-gradient(45deg,#08001f,#30197d);
}
.clock{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height:23%;
    width: 35%;
    background: rgba(186, 23, 149, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(186, 23, 149, 0.3);
}
.clock::before{
    content: "";
    z-index: -1;
    background-color: rgba(255, 0, 0, 0.625);
    position: absolute;
    height: 8vw;
    width:8vw;
    border-radius: 20px;
    left: -53px;
    top: -51px;
    filter:blur(2px);
}
.clock::after{
    content: "";
    z-index: -1;
    background-color: rgba(0, 0, 255, 0.664);
    position: absolute;
    height: 8vw;
    width:8vw;
    border-radius: 50%;
    left: 410px;
    top: 121px;
    filter:blur(2px);
}

.clock span{
    color:white;
    font-weight: 500;
    font-size: 7vw;
    position: relative;
}
.clock .hour::after{
    content: "HOUR";
    position: absolute;
    font-size: 1.2vw;
    bottom: -2px;
    left: 33px;
}
.clock .min::after{
    content: "MIN";
    position: absolute;
    font-size: 1.2vw;
    bottom: -2px;
    left: 33px;
}
.clock .sec::after{
    content: "SEC";
    position: absolute;
    font-size: 1.2vw;
    bottom: -2px;
    left: 33px;
}
.clock .AMPM{
    margin-left:10px;
    font-size: 2vw;
}
.format{
    position: absolute;
    top: 108px;
    left:580px;
}
.for{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    border-radius: 51px;
    padding: 5px;
    color: red;
    font-size: 30px;
    background-color: pink;
    cursor: pointer;
}
.for option{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.date{
    color:white;
    position: absolute;
    top: 190px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
}